@import url(https://i.pinimg.com/1200x/a9/e0/ad/a9e0ad6882fd5c1e15d0ed80566c4c13.jpg);

/* BODY */
body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,#ffd6ec,#d9ecff);
    color:#faf8f8;
    margin:0;
    line-height:1.6;
}

/* WRAPPER */
.page-wrapper{
    background:url(https://i.pinimg.com/1200x/a9/e0/ad/a9e0ad6882fd5c1e15d0ed80566c4c13.jpg) no-repeat top center;
    background-size:cover;
    padding:200px 40px 40px 40px;
}

/* HEADER TITLE */
header h1{
    font-family:"Quicksand", sans-serif;
    font-size:60px;
    text-align:center;
    color:rgb(243, 238, 238);
    text-shadow:0 0 10px rgba(0,0,0,0.4);
    margin-bottom:10px;
    background:rgba(20, 19, 19, 0.85)url(https://i.pinimg.com/736x/20/72/06/20720659d4f436d18c32087550e1f257.jpg);
    padding:5px;
    border-radius:5px;
}

/* SUBTITLE */
header h2{
    text-align:center;
    font-size:30px;
    color:#e7eb04;
    margin-bottom:50px;
    background:rgba(20, 19, 19, 0.85)url(https://i.pinimg.com/736x/20/72/06/20720659d4f436d18c32087550e1f257.jpg);
    padding:20px;
    border-radius:15px;
}

/* HEADINGS */
h3{
    font-size:20px;
    color:#ff6363;
    margin-bottom:10px;
}

/* PARAGRAPH */
p{
    font-size:14px;
    color:#fdf9f9;
    text-align:justify;
}


/* LINKS */
a{
    color:#ff6fa5;
    text-decoration:none;
    font-weight:600;
}

a:hover{
    color:#ff9cc8;
}

/* CONTENT BOX STYLE */
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements{

    background:rgba(20, 19, 19, 0.85)url(https://i.pinimg.com/736x/20/72/06/20720659d4f436d18c32087550e1f257.jpg);
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* SUMMARY TITLE STYLE */
.summary p:first-child{
    font-size:18px;
    font-weight:600;
    color:#6c63ff;
}

/* SIDEBAR */
.sidebar{
    position:fixed;
    left:20px;
    top:120px;
}

/* SIDEBAR BOX */
.sidebar .wrapper{
    background:rgba(23, 23, 23, 0.9)url(https://i.pinimg.com/736x/f3/df/69/f3df69074f6507404d9cde21ac7520bb.jpg);
    padding:15px;
    border-radius:15px;
    width:170px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

/* SIDEBAR LIST */
.sidebar ul{
    padding:0;
    margin:0;
}

.sidebar li{
    list-style:none;
    margin-bottom:8px;
}

/* SIDEBAR LINKS */
.sidebar a{
    color:#05fc0d;
}

.sidebar a:hover{
    color:#ff6fa5;
}

/* EXTRA ANIME STYLE EFFECT */
.page-wrapper::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(https://i.pinimg.com/736x/bf/be/f3/bfbef3118e91a3b9696b33c499473722.jpg);
    opacity:0.08;
    pointer-events:none;
}
